/* color theme
#000000
#000000
#002B80
#005555
#A7A9AC
*/

/* -----------Box Sizing--------*/
html{
  box-sizing:border-box;
}

/*--------------Utility Styles ------*/

/*----------Global Style -------*/
body{
  font-family: 'Inter', sans-serif;
  margin:0;
  background-color:#A7A9AC;
}

header.primary{
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  padding:1em 1em;
  position: relative;
  background-image: url("https://www.tesmanian.com/cdn/shop/articles/SpaceX-Crew-Dragon.jpg?v=1575766678&width=1024");
  text-shadow: 2px 2px #000000;
  background-size:cover;
}

header.primary h1{
  font-size: 1.5rem;
  margin-top:0px;
  margin-bottom:0px;
  position:relative;
  justify-content: space-between;
  display:flex;
  text-align:left;
}


header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  /* I wanted to make the links and logo align together at the top but I couldn't figure out how to 
    make the image smaller*/
  position: relative;
  width: 460px;
  height: 70px;
  margin: auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
}

header.primary nav ul
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  position:relative;
  justify-content: space-around;
  flex-direction: row;
  
}

header.primary nav li{
  display: inline-block;
  margin:15px;
  font-size:1.2rem;
} 

header.primary nav a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

header.primary nav a:hover,
header.primary nav a:active{
  text-decoration:underline;
  text-shadow:none;
}

header.primary h2{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8rem;
  padding-bottom: 10rem;
}

section#background{
  background-color: #000000;
  padding: 30em 0;
  background-image: url("https://s.abcnews.com/images/Technology/SPACEX-rt-er-210915_1631751172599_hpMain.jpg");
  background-size:cover;
}

section#background h2{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size:2rem;
  text-align:center;
}

section#background p{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size: 1.5rem;
    text-align:center;
  margin-right: 2em;
  margin-left: 2em;
  mix-blend-mode: unset;

}

section#overview{
  background-color: #000000;
  padding: 30em 0;
  background-image: url("https://media.npr.org/assets/img/2023/04/14/spacex_starship_hls_artemis_iii_2_crew_0-8d26a26eaf9fefb46e2b831b36005ac6e5d8b297.jpg");
  background-size:cover;
}

section#overview h2{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size:2rem;
  text-align:center;
}

section#overview p{
  color:#FFF;
  text-shadow: 2px 2px #000000;
  font-size: 1.5rem;
    text-align:center;
  padding:2rem;
  padding-bottom:0rem;
}

section#configuration{
  background-color: #000000;
  padding: 30em 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Crew_Dragon_at_the_ISS_for_Demo_Mission_1_%28cropped%29.jpg/1200px-Crew_Dragon_at_the_ISS_for_Demo_Mission_1_%28cropped%29.jpg");
  
  background-size:cover;
}

section#configuration h3{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size:2rem;
  text-align:center;
}

section#configuration ul{
  list-style-type:none;
  color:#ffffff;
  font-size:1.3em;
  border: 1px solid white;
  text-shadow: 2px 2px #000000;
}

section#crew{
  background-color: #000000;
  padding: 30em 0;
  background-image: url("https://www.calpoly.edu/sites/calpoly.edu/files/2020-11/News_2020_SpaceX-QA_header.jpg");
  background-size:cover;
}

section#crew h3{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size:2rem;
  text-align:center;
}

section#crew ul{
  list-style-type:none;
  color:#ffffff;
  font-size:1.3em;
  border: 1px solid white;
  text-shadow: 2px 2px #000000;
}

section#lab{
  background-color: #000000;
  padding: 30em 0;
  background-image: url("https://blogs.nasa.gov/commercialcrew/wp-content/uploads/sites/230/2020/05/KSC-20200429-PH-SPX01_0001_orig.jpg");
  background-size:cover;
}

section#lab h3{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size:2rem;
  text-align:center;
}

section#lab ul{
  list-style-type:none;
  color:#ffffff;
  font-size:1.3em;
  border: 1px solid white;
  text-shadow: 2px 2px #000000;
}

/* --------- History ------- */

section#history{
  background-color:black;
  padding-top:10em;
  padding-bottom:25em;
}
section#history img{
  float: left;
  
}

section#history p#first{
  font-size: 1.4em;
  margin-top:0;
  margin-left:33.7em;
  margin-right:2em;
}

section#history p{
 color:white;
 font-size:.9em;
  margin-left:52.3em;
  margin-right:2em;
}
section#table{
  background-color:#181c1f;
  padding:6em 2em;
}
section#table table{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  border-collapse: collapse;
}

section#table table caption{
  color:white;
  font-size:2em;
  text-shadow: 2px 2px black;
  margin-bottom:20px;
  border:  solid white;
  border-radius:5px;
}

section#table table th{
  color:white;
  border-bottom: 2px solid #fff;
  padding: 10px;
}

section#table table td{
  color:white;
  border: 2px solid #fff;
  padding: 10px;
}

/*------faq-------*/
section#faq{
  background-color:white;
  padding:2em 2em;
}

section#faq h2{
 margin: 5px 30px;
 text-decoration: underline;
  
}
section#faq p{
  margin-bottom:50px;
  margin-left: 30px;
  margin-right: 30px;
}


/* footer */

footer{
  background-color:#005555;
}

footer h6{
  text-align:center;
  font-size:1rem;
  padding:15px;
  margin: 0px;
  color:#ffffff;
 
}
footer h6 a{
  color:#ffffff;
}